<a href="/insights-single.html" class="w-full flex flex-col dark:border-0 border border-gray-200">
	<div class="flex-shrink-0 space-y-6 p-6 bg-white">
		<div>
			<h3 class="{{text-color}} uppercase text-3xl font-heading font-bold">{{ heading }}</h3>
			<p class="{{text-color}} font-regular text-lg   poppins pt-2">{{ description }}</p>
		</div>
	</div>
	<div class="relative w-full h-40 flex flex-col justify-end items-start bg-black p-4">
		<span
			class="bg-red relative z-20 px-4 py-2 text-white font-bold font-heading text-white uppercase text-lg">Insights</span>
		<div class="duotone w-full h-full absolute inset-0 z-10">
			<img class="w-full h-full object-cover"
				src="https://images.pexels.com/photos/5437489/pexels-photo-5437489.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
		</div>
	</div>
</a>
