<div class="space-y-6 p-10 flex flex-col bg-black">
	<div class="align-center flex justify-center">
		<img src="/assets/img/sliderlogo.JPG" alt="A placeholder image">
	</div>
	<div class="relative">
		<div class="relative z-20 text-lg text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			eiusmod tempor
			incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam auis nostrud</div>
		<svg class="w-10 h-10 absolute z-10 -top-14 -left-6" viewBox="0 0 32 22" fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<path
				d="M11 11H3V3H11V11ZM29 11H21V3H29V11ZM8.7 22L4.7 14H14V0H0V14.4L3.8 22H8.7ZM26.7 22L22.7 14H32V0H18V14.4L21.8 22H26.7Z"
				fill="white" />
		</svg>
		<svg class="w-10 h-10 absolute z-10 -bottom-14 -right-6" viewBox="0 0 32 22" fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<path
				d="M21 11H29V19H21V11ZM3 11H11V19H3V11ZM23.3 0L27.3 8H18V22H32V7.6L28.2 0H23.3ZM5.3 0L9.3 8H0V22H14V7.6L10.2 0H5.3Z"
				fill="white" />
		</svg>


	</div>
	<div class="flex justify-between items-end">
		<p class="text-lg text-white">Draft Kings</p>
	</div>
</div>