<footer class="bg-dark w-full py-16 overflow-hidden">
	<div class="container flex flex-col md:flex-row md:space-x-16">
		<div class="grid grid-cols-2 gap-6 md:flex justify-between flex-1 pb-6 md:pb-0">
			<div class="space-y-4">
				<div class="font-heading text-2xl uppercase font-bold text-white">Resources</div>
				<div class="text-white text-lg space-y-2 flex flex-col">
					<a href="/about.html">About</a>
					<a href="/cluster.html">Cluster</a>
					<a href="/digital-athlete.html">Digital Athlete</a>
					<a href="/community.html">Community</a>
					<a href="/resources.html">Resources</a>
				</div>
			</div>
			<div class="space-y-4">
				<div class="font-heading text-2xl uppercase font-bold text-white">Legal</div>
				<div class="text-white text-lg space-y-2 flex flex-col">
					<a href="/">Sitemap</a>
					<a href="/">Cookie policy</a>
					<a href="/">Privacy Policy</a>
					<a href="/">Terms &amp; Conditions</a>
				</div>
			</div>
			<div class="space-y-4">
				<div class="font-heading text-2xl uppercase font-bold text-white">Contact</div>
				<div class="text-white text-lg space-y-6 flex flex-col">
					<div class="flex space-x-2">
						<svg class="w-5 h-5 text-white shrink-0" fill="currentColor" viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
							<path clip-rule="evenodd" fill-rule="evenodd"
								d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z">
							</path>
						</svg>
						<ul class="-mt-1">
							<li>SportsTech Ireland</li>
							<li>SportsTech Innovation Hub</li>
							<li>Henry Street</li>
							<li>Limerick</li>
							<li>V94 RY7E</li>
						</ul>
					</div>
					<div class="flex space-x-2">
						<svg class="w-5 h-5 text-white shrink-0" fill="currentColor" viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
							<path
								d="M3 4a2 2 0 00-2 2v1.161l8.441 4.221a1.25 1.25 0 001.118 0L19 7.162V6a2 2 0 00-2-2H3z">
							</path>
							<path
								d="M19 8.839l-7.77 3.885a2.75 2.75 0 01-2.46 0L1 8.839V14a2 2 0 002 2h14a2 2 0 002-2V8.839z">
							</path>
						</svg>
						<ul class="-mt-1">
							<li>hello@sportstechireland.com</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div
			class="w-full md:pl-6 max-w-[500px] border-t-2 md:border-t-0 md:border-l-2 border-white flex md:justify-between md:items-center pt-6 md:pt-0 flex-col md:flex-row">
			<div class="space-y-8 flex flex-col items-start md:min-w-[200px]">
				<div class="font-heading text-white text-3xl font-bold uppercase">Get in touch <br> with us today</div>
				{{> button text="Contact us" color="bg-green" border-color="border-green" }}
			</div>
			<div
				class="flex flex-row justify-between md:flex-col md:justify-center items-center space-y-4 w-full mt-8 md:mt-0">
				<img class="w-48" src="/assets/img/dark-logo.jpg" alt="">
				<div class="flex space-x-4">
					<a href="/" class="w-10 h-10 rounded-full bg-purple flex items-center justify-center">
						<svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_417_38468)">
								<path fill-rule="evenodd" clip-rule="evenodd"
									d="M11.9999 5.83789C11.1907 5.83789 10.3894 5.99728 9.6418 6.30695C8.89419 6.61661 8.21489 7.0705 7.6427 7.6427C7.0705 8.21489 6.61661 8.89419 6.30694 9.6418C5.99728 10.3894 5.83789 11.1907 5.83789 11.9999C5.83789 12.8091 5.99728 13.6104 6.30694 14.358C6.61661 15.1056 7.0705 15.7849 7.6427 16.3571C8.21489 16.9293 8.89419 17.3832 9.6418 17.6928C10.3894 18.0025 11.1907 18.1619 11.9999 18.1619C13.6342 18.1619 15.2015 17.5127 16.3571 16.3571C17.5127 15.2015 18.1619 13.6342 18.1619 11.9999C18.1619 10.3656 17.5127 8.7983 16.3571 7.6427C15.2015 6.4871 13.6342 5.83789 11.9999 5.83789ZM11.9999 15.9999C10.939 15.9999 9.92161 15.5785 9.17146 14.8283C8.42132 14.0782 7.99989 13.0608 7.99989 11.9999C7.99989 10.939 8.42132 9.92161 9.17146 9.17146C9.92161 8.42132 10.939 7.99989 11.9999 7.99989C13.0608 7.99989 14.0782 8.42132 14.8283 9.17146C15.5785 9.92161 15.9999 10.939 15.9999 11.9999C15.9999 13.0608 15.5785 14.0782 14.8283 14.8283C14.0782 15.5785 13.0608 15.9999 11.9999 15.9999Z"
									fill="white" />
								<path
									d="M18.4068 7.0343C18.7887 7.0343 19.155 6.88258 19.425 6.61253C19.6951 6.34248 19.8468 5.97621 19.8468 5.5943C19.8468 5.21239 19.6951 4.84612 19.425 4.57606C19.155 4.30601 18.7887 4.1543 18.4068 4.1543C18.0249 4.1543 17.6586 4.30601 17.3886 4.57606C17.1185 4.84612 16.9668 5.21239 16.9668 5.5943C16.9668 5.97621 17.1185 6.34248 17.3886 6.61253C17.6586 6.88258 18.0249 7.0343 18.4068 7.0343Z"
									fill="white" />
								<path fill-rule="evenodd" clip-rule="evenodd"
									d="M12 0C8.741 0 8.332 0.014 7.052 0.072C5.775 0.131 4.902 0.333 4.14 0.63C3.33946 0.931334 2.61428 1.40364 2.015 2.014C1.40416 2.61347 0.931498 3.33901 0.63 4.14C0.333 4.903 0.13 5.775 0.072 7.052C0.014 8.332 0 8.741 0 12C0 15.259 0.014 15.668 0.072 16.948C0.13 18.225 0.333 19.098 0.63 19.86C0.937 20.65 1.347 21.319 2.014 21.986C2.61356 22.5965 3.3391 23.0688 4.14 23.37C4.904 23.667 5.776 23.87 7.053 23.928C8.332 23.986 8.741 24 12 24C15.259 24 15.668 23.986 16.948 23.928C18.225 23.869 19.098 23.667 19.86 23.37C20.6609 23.0687 21.3864 22.5964 21.986 21.986C22.5964 21.3864 23.0687 20.6609 23.37 19.86C23.667 19.097 23.87 18.225 23.928 16.948C23.986 15.668 24 15.258 24 12C24 8.741 23.986 8.332 23.928 7.052C23.869 5.775 23.667 4.902 23.37 4.14C23.0688 3.3391 22.5965 2.61356 21.986 2.014C21.3864 1.40355 20.6609 0.931234 19.86 0.63C19.097 0.333 18.225 0.13 16.948 0.072C15.668 0.014 15.258 0 12 0ZM12 2.162C15.204 2.162 15.584 2.174 16.849 2.232C18.019 2.286 18.654 2.481 19.077 2.645C19.637 2.863 20.037 3.123 20.457 3.543C20.877 3.963 21.137 4.363 21.355 4.923C21.519 5.346 21.715 5.981 21.768 7.151C21.826 8.416 21.838 8.796 21.838 12C21.838 15.204 21.826 15.584 21.768 16.849C21.714 18.019 21.519 18.654 21.355 19.077C21.1625 19.5983 20.8557 20.0698 20.457 20.457C20.037 20.877 19.637 21.137 19.077 21.355C18.654 21.519 18.019 21.715 16.849 21.768C15.584 21.826 15.204 21.838 12 21.838C8.796 21.838 8.416 21.826 7.15 21.768C5.981 21.714 5.346 21.519 4.923 21.355C4.40169 21.1625 3.93013 20.8557 3.543 20.457C3.123 20.037 2.863 19.637 2.645 19.077C2.481 18.654 2.285 18.019 2.232 16.849C2.174 15.584 2.162 15.204 2.162 12C2.162 8.796 2.174 8.416 2.232 7.15C2.285 5.981 2.481 5.346 2.645 4.923C2.863 4.363 3.123 3.963 3.543 3.543C3.963 3.123 4.363 2.863 4.923 2.645C5.346 2.481 5.981 2.285 7.151 2.232C8.416 2.174 8.796 2.162 12 2.162Z"
									fill="white" />
							</g>
							<defs>
								<clipPath id="clip0_417_38468">
									<rect width="24" height="24" fill="white" />
								</clipPath>
							</defs>
						</svg>
					</a>
					<a href="/" class="w-10 h-10 rounded-full bg-purple flex items-center justify-center">
						<svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M5.37152 23.9999H0.395523V7.97595H5.37152V23.9999ZM2.88152 5.78995C1.28952 5.78995 -0.000476526 4.47395 -0.000476526 2.88295C-0.00761029 2.50003 0.0616493 2.11952 0.203255 1.76368C0.34486 1.40783 0.555971 1.08378 0.82425 0.810453C1.09253 0.537129 1.41259 0.320019 1.76574 0.17181C2.11889 0.0236007 2.49804 -0.0527344 2.88102 -0.0527344C3.26401 -0.0527344 3.64316 0.0236007 3.9963 0.17181C4.34945 0.320019 4.66952 0.537129 4.9378 0.810453C5.20608 1.08378 5.41719 1.40783 5.55879 1.76368C5.7004 2.11952 5.76966 2.50003 5.76252 2.88295C5.76252 4.47295 4.47252 5.79195 2.88152 5.79195V5.78995ZM23.9945 23.9999H19.0295V16.1999C19.0295 14.3399 18.9915 11.9569 16.4425 11.9569C13.8555 11.9569 13.4585 13.9769 13.4585 16.0659V23.9999H8.48952V7.97595H13.2615V10.1619H13.3315C13.9955 8.90295 15.6185 7.57495 18.0395 7.57495C23.0745 7.57495 24.0005 10.8909 24.0005 15.1979V23.9999H23.9945Z"
								fill="white" />
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>