<div class="absolute top-40 right-0 border border-black p-12 pb-8 px-4 left-0 bg-white w-4/5 max-w-lg z-[999] mx-auto"
	x-show="mobileMenu" x-cloak>
	<button class="absolute top-0 right-0 p-4" @click="mobileMenu = false">
		<svg class="w-8 h-8 text-black" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
			xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
			<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
		</svg>
	</button>
	<nav class="flex flex-col justify-center items-center">
		<a href="/about.html" class="text-4xl py-2 font-bold uppercase font-heading">About</a>
		<a href="/contact.html" class="text-4xl py-2 font-bold uppercase font-heading">Contact Us</a>
		<a href="/cluster.html" class="text-4xl py-2 font-bold uppercase font-heading">Cluster</a>
		<a href="/network.html" class="text-4xl py-2 font-bold uppercase font-heading">Network</a>
		<a href="/partner.html" class="text-4xl py-2 font-bold uppercase font-heading">Partner</a>
		<a href="/membership.html" class="text-4xl py-2 font-bold uppercase font-heading">Member</a>
		<a href="/talent.html" class="text-4xl py-2 font-bold uppercase font-heading">Talent</a>
		<a href="/digital-athlete.html" class="text-4xl py-2 font-bold uppercase font-heading">Digital Athele</a>
		<a href="/course-finder.html" class="text-4xl py-2 font-bold uppercase font-heading">Course Finder</a>
		<a href="/digital-athlete.html" class="text-4xl py-2 font-bold uppercase font-heading">Sportstech Women</a>
		<a href="/news.html" class="text-4xl py-2 font-bold uppercase font-heading">Resources</a>
	</nav>
</div>
