<div class="flex flex-col lg:flex-row space-y-6 lg:space-y-0 justify-between">
	<h1
		class="font-bold   text-black dark:text-white text-7xl sm:text-[100px] font-heading uppercase {{#if line }} heading-line {{/if}} leading-[90%]">
		Insights</h1>
	{{#if small-text }}
	<div class="w-full max-w-2xl text-black dark:text-white font-normal text-lg">There are several
		ways in which talent and skills development can be fostered in sportstech enterprise cluster. This can involve
		providing access to training and education programs that teach essential technical and business skills, such as
		programming, data analysis, and entrepreneurship. It can also involve creating opportunities for on-the-job
		learning and mentorship, where experienced industry players can share their knowledge and expertise with
		up-and-coming talent.</div>
	{{ else }}
	<div class="w-full max-w-2xl font-heading text-black dark:text-white uppercase font-bold text-4xl">LOREM IPSUM
		DOLOR SIT
		AMET, CONSECTETUR
		ADIPISCING ELIT, SED DO EIUSMOD TEMPOR INCIDIDUNT UT LABORE ET
	</div>
	{{/if }}
</div>
