<section class="relative w-full py-32 overflow-hidden bg-gray-700 pt-44">
	<div class="container relative z-20 flex flex-wrap">
		<div class="flex flex-col space-y-10 md:w-full lg:w-1/2">
			<h1
				class="lg:text-left md:text-center lg:self-start md:self-center font-bold text-white text-7xl sm:text-8xl font-heading uppercase">
				Sport,<br>it's in our dna</h1>
			<p class="text-4xl font-bold text-white font-heading uppercase">Ireland, the place to be for sports talent,
				innovators and enterprise.</p>
			<div class="flex space-x-4 sm:space-x-6 lg:self-start md:self-center">
				{{> button
				text="Find out more"
				color="bg-green"
				border-color="border-green"
				}}

				{{> button
				text="Contact us"
				color="bg-white"
				border-color="border-white"
				}}
			</div>
		</div>
	</div>
	<img src="https://media.gettyimages.com/id/1409054491/photo/new-zealand-v-ireland-2022-steinlager-series.jpg?s=2048x2048&w=gi&k=20&c=rt-e6FdBW-D2l3bEXvc18dlaCZCkrkJQ2u58s6-g31I="
		class="absolute inset-0 z-0 object-cover w-full h-full opacity-70" draggable="false" alt="">
</section>
