<section class="relative w-full py-32 overflow-hidden bg-gray-700 pt-44 border-b-[16px] border-purple md:h-[726px]">
	<div class="container relative z-30 flex flex-wrap">
		<div class="flex flex-col space-y-10 md:w-full lg:w-1/2">
			<h1
				class="lg:text-left text-left md:text-center font-bold text-white text-7xl sm:text-8xl font-heading uppercase">
				Sport,<br>it's in our dna</h1>
			<p class="text-4xl lg:text-left text-left md:text-center font-bold text-white font-heading uppercase">
				Ireland, the place to be for sports talent,
				innovators and enterprise.</p>
			<div class="flex space-x-4 sm:space-x-6 lg:self-start md:self-center">
				{{> button
				text="Find out more"
				color="bg-green"
				border-color="border-green"
				}}

				{{> button
				text="Contact us"
				color="bg-white"
				border-color="border-white"
				}}
			</div>
		</div>
	</div>

	<svg class="hidden lg:block absolute bottom-0 right-40 z-20 w-80" viewBox="0 0 609 607" fill="none"
		xmlns="http://www.w3.org/2000/svg">
		<rect y="26" width="246" height="9" fill="#3E3A85" />
		<rect y="69" width="246" height="9" fill="#3E3A85" />
		<rect y="112" width="246" height="9" fill="#3E3A85" />
		<rect y="155" width="246" height="9" fill="#3E3A85" />
		<rect y="198" width="246" height="9" fill="#3E3A85" />
		<rect y="241" width="246" height="9" fill="#3E3A85" />
		<rect y="284" width="246" height="9" fill="#3E3A85" />
		<rect y="327" width="246" height="9" fill="#3E3A85" />
		<rect y="370" width="246" height="9" fill="#3E3A85" />
		<rect y="413" width="246" height="9" fill="#3E3A85" />
		<rect y="456" width="246" height="9" fill="#3E3A85" />
		<rect y="499" width="246" height="9" fill="#3E3A85" />
		<rect y="542" width="246" height="9" fill="#3E3A85" />
		<rect y="585" width="246" height="9" fill="#3E3A85" />
		<rect x="246" width="98" height="227" fill="#3E3A85" />
		<rect x="366" width="98" height="227" fill="#3E3A85" />
		<rect x="281" y="227" width="33" height="380" fill="#3E3A85" />
		<rect x="340" y="227" width="33" height="380" fill="#3E3A85" />
		<rect x="399" y="227" width="33" height="380" fill="#3E3A85" />
		<rect x="458" y="227" width="33" height="380" fill="#3E3A85" />
		<rect x="517" y="227" width="33" height="380" fill="#3E3A85" />
		<rect x="576" y="227" width="33" height="380" fill="#3E3A85" />
	</svg>

	<img src="https://media.gettyimages.com/id/1409054491/photo/new-zealand-v-ireland-2022-steinlager-series.jpg?s=2048x2048&w=gi&k=20&c=rt-e6FdBW-D2l3bEXvc18dlaCZCkrkJQ2u58s6-g31I="
		class="absolute inset-0 z-0 object-cover w-full h-full opacity-70" draggable="false" alt="">
</section>