<section class="logo-carousel flex w-full overflow-hidden py-20 space-x-14">
	{{#times 10 }}
	<div class="logo-carousel-item flex-none">
		<img src="/assets/img/logoa.JPG" alt="Logo 1" class="w-40">
	</div>
	{{/times }}
</section>
