<section class="py-20 {{ background }} overflow-hidden">
	<div class="container grid grid-cols-1 md:grid-cols-3 gap-14">

		<div class="col-span-1 flex flex-col space-y-10 relative md:pt-12">
			<h2
				class="font-bold text-center md:text-left inline text-[80px] leading-[90%] font-heading uppercase heading-line text-black dark:text-white">
				Changing the Game
			</h2>
			<div class="space-y-6 text-center md:text-left w-full max-w-md mx-auto md:mx-0">
				<p class="text-lg text-center md:text-left text-black dark:text-white">Sports are woven into Ireland's
					cultural and social
					tapestry.
					Fused with a
					diverse and engaged talent pool, and deep tech expertise, for a dynamic sportstech ecosystem.</p>
				<div class="flex justify-center md:justify-start space-x-6">
					{{> button text="Find out more" color="bg-green" border-color="border-green" }}
				</div>
			</div>
		</div>

		<div class="col-span-1 md:col-span-2 flex justify-center items-center">
			<div class="relative w-full aspect-video">
				<iframe class="absolute inset-0 w-full h-full border-radius rounded-3xl"
					src="https://player.vimeo.com/video/455797613" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>

	</div>
</section>