<section class="w-full overflow-hidden">
	<div class="container py-20 flex justify-center flex-wrap flex-col space-y-8">
		<div class="text-center mx-auto">
			<h2 class="font-bold inline text-black text-7xl font-heading uppercase heading-line-center">Current Members
			</h2>
		</div>
		<div class=" flex-row flex-wrap overlow-hidden flex items-center gap-4 justify-center text-center w-full">
			{{#times 6 }}
			<img src="/assets/img/aib.JPG" alt="Aib logo" class="w-full w-[30%] max-w-[100px] md:w-32 md:max-w-xs">
			{{/times}}
		</div>
	</div>
</section>
