<section class="py-20 bg-purple overflow-hidden">

	<div class="container flex justify-center flex-col space-y-8">
		<div class="text-center mx-auto w-full max-w-md">
			<div class="w-full relative z-20 items-center space-y-6 mt-12">
				<div class="flex justify-center">
					<h2
						class="font-bold inline text-white text-6xl sm:text-7xl font-heading uppercase heading-line-center">
						Subscribe to
						<br>
						our newsletter
					</h2>
				</div>
				<div class="flex justify-center">
					<p class="text-lg description text-white">News, features &amp; insights from the world of
						SportsTech.
						Every fortnight.</p>
				</div>
			</div>
		</div>
		<form class="w-full max-w-xl mx-auto">
			<div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mb-8">
				<div class="">
					<input type="text" id="name" name="name"
						class="w-full border-gray-300 rounded-2xl text-lg p-2.5 px-8" placeholder="Name" required>
				</div>
				<div class="">
					<input type="email" id="email" name="email"
						class="w-full border-gray-300 rounded-2xl text-lg p-2.5 px-8" placeholder="Email" required>
				</div>
			</div>
			<div class="flex justify-center">
				<button type="submit"
					class="bg-green hover:bg-dark hover:text-white text-black text-2xl font-bold rounded-2xl py-2 px-8 uppercase font-heading">Subscribe</button>
			</div>
		</form>
	</div>

</section>
