<section class="w-full">
	<div class="container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 py-20 gap-8">
		{{> cards/grid-card
		text="Digital Athlete"
		image="https://images.pexels.com/photos/6253340/pexels-photo-6253340.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
		big="true"
		}}

		{{> cards/grid-card
		text="Sports Tech Women"
		bg="bg-green"
		}}

		{{> cards/grid-card
		text="News & Insights"
		bg="bg-[#3E3A86]"
		}}

		{{> cards/grid-card
		text="Supporters"
		big="true"
		image="https://images.pexels.com/photos/260409/pexels-photo-260409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
		}}
	</div>
</section>
