<a href=""
	class="px-6 sm:px-10 py-2 text-2xl font-bold transition duration-200 ease-in-out {{ button-text-color }} uppercase {{ color }}  hover:bg-dark hover:text-white hover:border-dark border-2 {{ border-color }} rounded-2xl font-heading">{{
	text }}</a>
