<div class="p-5 rounded flex justify-center">
  <form>
    <div class="flex items-center space-x-4 mb-7">
      <div class="w-1/2">
        <input type="text" id="name" name="name" class="w-full border-gray-300 rounded-2xl p-2 px-8"
          placeholder="Name" required>
      </div>
      <div class="w-1/2">
        <input type="email" id="email" name="email" class="w-full border-gray-300 rounded-2xl p-2 px-8"
          placeholder="Email" required>
      </div>
    </div>
    <div class="flex justify-center">
      <button type="submit"
        class="bg-green hover:bg-dark hover:text-white text-black text-2xl font-bold rounded-2xl py-2 px-8 uppercase font-heading">Subscribe</button>
    </div>
  </form>
</div>
