<div class="w-full max-w-6xl">
    <div class="flex gap-6 overflow-hidden overflow-x-auto h-full">
        {{> slidercard-black 
            icontype="fas" 
            icon="fa-quote-left" 
            description="Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud." 
        }}

        {{> slidercard-black 
            icontype="fas" 
            icon="fa-quote-left" 
            description="Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud." 
        }}

        {{> slidercard-black 
            icontype="fas" 
            icon="fa-quote-left" 
            description="Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud." 
        }}
    </div>
    <i class="fas fa-arrow-left fa-2x {{icon-color}} m-5"></i><i
        class="fas fa-arrow-right fa-2x {{icon-color}} m-5"></i>
</div>